body { background: #ccf89f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 23px; display: flex; }
.block-shipping-0 { color: #44d768; font-size: 21px; margin-bottom: 5px; }
.block-shipping-1 { color: #ed4ff5; font-size: 15px; margin-bottom: 5px; }
.block-user-2 { color: #1a60e4; font-size: 14px; margin-bottom: 5px; }
.block-cache-3 { color: #ddccb3; font-size: 15px; margin-bottom: 5px; }
.block-config-4 { color: #cc16e3; font-size: 21px; margin-bottom: 5px; }
.block-invoice-5 { color: #7b5f65; font-size: 19px; margin-bottom: 5px; }
.block-user-6 { color: #2790de; font-size: 15px; margin-bottom: 5px; }